<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SanityChecker</title>
    <meta name="description" content="description">
    <meta name="author" content="Evgeniya">
    <meta name="keyword" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/sanitytask/plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="../../static/sanitytask/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
</head>


<form method="post">{% csrf_token %}
    <div>

        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

        <fieldset>

            <div class="form-row">
                {{ form.old_password.errors }}
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>

            <div class="form-row">
                {{ form.new_password1.errors }}
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                {% if form.new_password1.help_text %}
                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
            </div>

            <div class="form-row">
                {{ form.new_password2.errors }}
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                {% if form.new_password2.help_text %}
                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
            </div>

        </fieldset>

        <div class="submit-row">
            <input type="submit" value="{% trans 'Change my password' %}" class="default">
        </div>

    </div>
</form>

